<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>tech.azteya.epigrapho</key>
		<string>Epigrapho</string>
        <key>tech.azteya.epigrapho.widget</key>
		<string>Epigrapho Widget</string>
        <key>tech.azteya.epigrapho.share</key>
		<string>Epigrapho Share</string>
	</dict>
</dict>
</plist>