// Staging iOS build identifiers
IOS_CURRENT_PROJECT_VERSION = 10500
IOS_MARKETING_VERSION = 1.5.0
IOS_MAIN_BUNDLE_ID = tech.azteya.epigrapho
IOS_WIDGET_BUNDLE_ID = tech.azteya.epigrapho.widget
IOS_SHARE_BUNDLE_ID = tech.azteya.epigrapho.share
APP_DISPLAY_NAME = Epigrapho
IOS_MAIN_PROFILE = Epigrapho Adhoc
IOS_WIDGET_PROFILE = Epigrapho Widget Adhoc
IOS_SHARE_PROFILE = Epigrapho Share Adhoc
